@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: main;
    src: url('../public/fonts/FbMenta-Regular.otf');
}

body {
    font-family: main, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}